.popup-container {
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
  visibility: hidden;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  &.active {
    visibility: visible;
    z-index: 3;
    opacity: 1;
  }
}

.popup-content {
  padding: 0.3rem 0;
  padding-bottom: 4rem;
  width: 100%;
  background-color: #fff;
}
.close-div {
  position: absolute;
  right: 1rem;
  top: 1rem;
  i {
    font-size: 1.3rem;
  }
}
.popup-header {
  h1 {
    font-weight: 500;
    margin-bottom: 1rem;
    padding-right: 2rem;
  }
}
.prep-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  i {
    margin-right: 0.3rem;
  }
}
.img-con {
  width: 100%;
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.ingredients {
  width: 100%;
}
.ing-header,
.nut-header {
  padding: 1rem 0;
}
.nutrition-info {
  margin-bottom: 3rem;
}
.nutri-wrapper {
  p {
    font-size: 0.7rem;
    padding-right: 1rem;
    letter-spacing: 0.1rem;
  }
}
.ing-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  border-bottom: 2px solid #ddd;
  padding: 0.3rem 0;
}
.ing-wrapper {
  ul {
    list-style: none;
    li {
      line-height: 1.3rem;
      border-bottom: 1px solid #ddd;
      letter-spacing: 0.1rem;
      padding: 0.1rem 0;
      margin-bottom: 0.2rem;
    }
  }
}
.appetit {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  h3 {
    padding-left: 0.3rem;
    font-size: 1rem;
    color: #ddd;
  }
  i {
    color: #ddd;
  }
}
.showMore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  button {
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    letter-spacing: 0.1rem;
    background-color: #f9d195;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
    &.activeBtn {
      display: block;
    }
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      outline: none;
    }
  }
}
