@import "popup";
@import "sortSection";
@import "favs";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  &.active {
    overflow-y: hidden;
  }
}
.wrapper {
  width: 100vw;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  overflow: hidden;
}
.header {
  margin-bottom: 1rem;
  .top {
    text-align: center;
    margin-bottom: 2rem;
    h1 {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  .search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    flex-direction: column;
  }
  .search {
    margin-top: 0.5rem;
    border: 2px solid #ddd;
    border-radius: 2rem;
    display: flex;
    padding: 0.3rem 0.3rem 0.3rem 0.8rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 80%;

    a {
      margin-right: 0.3rem;
      i {
        color: #7edabf;
      }
    }
    input {
      border: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
}
.results {
  width: 100%;
}
.cards {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-bottom: 4rem;
}
.card {
  border-radius: 1rem;
  background-color: #ddd;
  padding: 1rem 0.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:nth-child(even) {
    background-color: #f9d195;
  }
  &:nth-child(odd) {
    background-color: #bee8ff;
  }
  &:nth-child(3n + 0) {
    background-color: #d3b0e0;
  }
  &:nth-child(4n + 0) {
    background-color: #faa795;
  }
  &:hover {
    opacity: 0.7;
    transform: scale(1.02);
  }
}
.card-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 90%;
    height: 6rem;
    border-radius: 1rem;
    object-fit: cover;
  }
}
.breakfast {
  background-color: #d3b0e0;
}
.lunch {
  background-color: #faa795;
}
.dinner {
  background-color: #bee8ff;
}
.dessert {
  background-color: #f9d195;
}
.card-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  i {
    color: rgba(17, 17, 17, 0.5);
    font-size: 1.5rem;
    &.active {
      color: purple;
      font-weight: 900;
    }
  }
}
.mealType {
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: center;
  font-size: 0.7rem;
  padding-right: 0.3rem;
}
.footer {
  padding-bottom: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(221, 221, 221, 0.5);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  margin-top: 1rem;
  z-index: 10;
}
.bottom {
  position: relative;

  a {
    cursor: pointer;
    i {
      color: #111;
      font-weight: 700;
      font-size: 1.5rem;
      transition: all 0.3s linear;
      &.activeThumb {
        color: #faa795;
      }
    }
  }
}
@media only screen and (min-width: 980px) {
  html {
    font-size: 130%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      130deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(6, 5, 85, 0.623) 20%,
      rgb(40, 40, 168) 35%,
      rgb(81, 112, 190) 47%,
      rgba(6, 78, 166, 1) 57%,
      rgba(3, 134, 203, 1) 75%,
      rgba(0, 212, 255, 1) 100%
    );
    padding: 5rem 0;
  }
  .wrapper {
    width: 70%;
    background-color: #fff;
  }
}
