.popup-container {
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.popup-container.active {
  visibility: visible;
  z-index: 3;
  opacity: 1;
}

.popup-content {
  padding: 0.3rem 0;
  padding-bottom: 4rem;
  width: 100%;
  background-color: #fff;
}

.close-div {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.close-div i {
  font-size: 1.3rem;
}

.popup-header h1 {
  font-weight: 500;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.prep-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.prep-info i {
  margin-right: 0.3rem;
}

.img-con {
  width: 100%;
  height: 300px;
}

.img-con img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ingredients {
  width: 100%;
}

.ing-header,
.nut-header {
  padding: 1rem 0;
}

.nutrition-info {
  margin-bottom: 3rem;
}

.nutri-wrapper p {
  font-size: 0.7rem;
  padding-right: 1rem;
  letter-spacing: 0.1rem;
}

.ing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 0;
  border-bottom: 2px solid #ddd;
  padding: 0.3rem 0;
}

.ing-wrapper ul {
  list-style: none;
}

.ing-wrapper ul li {
  line-height: 1.3rem;
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.1rem;
  padding: 0.1rem 0;
  margin-bottom: 0.2rem;
}

.appetit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appetit h3 {
  padding-left: 0.3rem;
  font-size: 1rem;
  color: #ddd;
}

.appetit i {
  color: #ddd;
}

.showMore {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.showMore button {
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  letter-spacing: 0.1rem;
  background-color: #f9d195;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
}

.showMore button.activeBtn {
  display: block;
}

.showMore button:hover {
  opacity: 0.7;
}

.showMore button:focus {
  outline: none;
}

.sort-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0.5rem;
  display: none;
}

.sort-div.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-div .sortIcon {
  border: 2px solid #7edabf;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  background-color: #7edabf;
}

.sort-div .sortIcon img {
  width: 1.2rem;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
}

.sortChoices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0.1rem 0 0.1rem 0.5rem;
  display: none;
  background-color: #7edabf;
  padding: 0.4rem 0.1rem 0.4rem 0.5rem;
  border-radius: 0.3rem;
}

.sortChoices.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sortChoices a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #fff;
  text-shadow: 1px #111;
  font-weight: 400;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #7edabe6b;
  border-radius: 0.2rem;
  padding: 0.1rem;
  width: 100%;
  text-align: right;
}

.sortChoices a:first-child {
  margin-bottom: 0.2rem;
}

.favouriteMeals {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.favMeal {
  margin-bottom: 0.3rem;
  position: relative;
}

.closeDiv {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
}

.closeDiv i {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  color: #111;
}

.favMealImg img {
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

body.active {
  overflow-y: hidden;
}

.wrapper {
  width: 100vw;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  overflow: hidden;
}

.header {
  margin-bottom: 1rem;
}

.header .top {
  text-align: center;
  margin-bottom: 2rem;
}

.header .top h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.header .search-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .search {
  margin-top: 0.5rem;
  border: 2px solid #ddd;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.header .search a {
  margin-right: 0.3rem;
}

.header .search a i {
  color: #7edabf;
}

.header .search input {
  border: 0;
}

.header .search input:focus {
  outline: none;
}

.results {
  width: 100%;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr;
  gap: 1rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.card {
  border-radius: 1rem;
  background-color: #ddd;
  padding: 1rem 0.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card:nth-child(even) {
  background-color: #f9d195;
}

.card:nth-child(odd) {
  background-color: #bee8ff;
}

.card:nth-child(3n + 0) {
  background-color: #d3b0e0;
}

.card:nth-child(4n + 0) {
  background-color: #faa795;
}

.card:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-image img {
  width: 90%;
  height: 6rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.breakfast {
  background-color: #d3b0e0;
}

.lunch {
  background-color: #faa795;
}

.dinner {
  background-color: #bee8ff;
}

.dessert {
  background-color: #f9d195;
}

.card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.card-bottom i {
  color: rgba(17, 17, 17, 0.5);
  font-size: 1.5rem;
}

.card-bottom i.active {
  color: purple;
  font-weight: 900;
}

.mealType {
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: center;
  font-size: 0.7rem;
  padding-right: 0.3rem;
}

.footer {
  padding-bottom: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(221, 221, 221, 0.5);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  margin-top: 1rem;
  z-index: 10;
}

.bottom {
  position: relative;
}

.bottom a {
  cursor: pointer;
}

.bottom a i {
  color: #111;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.bottom a i.activeThumb {
  color: #faa795;
}
/*# sourceMappingURL=style.css.map */